JSONS/Rag.json
{
  "name": "Rag_Agent_Ing_Masters",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1D_jUO5lMZxmBRzyqCodvMyQmjgO_CJka",
          "mode": "list",
          "cachedResultName": "MaestriaSistemasRag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1D_jUO5lMZxmBRzyqCodvMyQmjgO_CJka"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -48
      ],
      "id": "ca3581e1-b690-4723-bedf-d5e2444e4bb7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SsQPTE367ZtrNJjk",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -48
      ],
      "id": "6cf4c264-561f-4450-963c-1fe1b10e3a0c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SsQPTE367ZtrNJjk",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mastersindex",
          "mode": "list",
          "cachedResultName": "mastersindex"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -48
      ],
      "id": "2649fa5d-6fe9-49f1-af26-259ccec6e95c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Cbx8JqZgGi8mqdol",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        160
      ],
      "id": "5914fb28-085d-4789-9aa3-93c6be493a91",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        480,
        288
      ],
      "id": "f1ab2598-bc96-45b3-b7e5-57af2cc63c7e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        160
      ],
      "id": "d37a927d-440c-41f6-a31b-b51f9e37ec7e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tbfXD33LBsmEpAOx",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6dd0b5a-d4dc-4d1c-bebc-1eefdc34774e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ccf97a4f2a664181673768e2295b304740544532048fa3035ebb65b3a8790d5"
  },
  "id": "BwS79HCHRxOiwcJh",
  "tags": []
}